/* Estilos gerais */

/* Importa a fonte Orbitron do Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400;500;600;700;800;900&display=swap');

/* Define estilos padrão para todos os elementos */
* {
  padding: 0;
  margin: 0;
}

/* Define o estilo do corpo da página */
body {
  color: black;
  overflow: hidden;
  font-family: "Poppins", sans-serif;
  /* Define um gradiente de fundo para o corpo da página */
  background: rgb(196, 160, 95);
  background: -moz-linear-gradient(90deg, rgba(196, 160, 95, 1) 0%, rgba(235, 171, 28, 1) 35%, rgba(199, 163, 73, 1) 100%);
  background: -webkit-linear-gradient(90deg, rgba(196, 160, 95, 1) 0%, rgba(235, 171, 28, 1) 35%, rgba(199, 163, 73, 1) 100%);
  background: linear-gradient(90deg, rgba(196, 160, 95, 1) 0%, rgba(235, 171, 28, 1) 35%, rgba(199, 163, 73, 1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#c4a05f", endColorstr="#c7a349", GradientType=1);
}

/* Estilos do cabeçalho */
h1 {
  top: 36vh;
  position: relative;
  text-align: center;
  color: rgb(0, 0, 0);
}

/* Estilos do formulário de conversão */
#convert-input {
  text-decoration: none;
  outline: none;
  padding: 5px;
  border-radius: 10px;
  border: 1px solid lightgray;
  box-shadow: 2px 2px 5px gray;
  color: black;
  background-color: white;
  width: 60vh;
  font-size: 16px;
  font-weight: 600;
  text-align: center;
}

.form-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  top: 37vh;
  gap: 10px;
}

#convert-button {
  transition: 0.3s ease-out;
  outline: none;
  padding: 5px;
  border-radius: 10px;
  border: 1px solid rgb(0, 0, 0);
  color: rgb(255, 255, 255);
  background-color: rgb(0, 0, 0);
  cursor: pointer;
  height: 4vh;
  font-size: 18px;
  width: 20vh;
}

#convert-button:hover {
  color: rgb(0, 0, 0);
  background-color: rgb(255, 255, 255);
  border: 1px solid rgb(255, 255, 255);
}

/* Estilos do ícone do YouTube */
.icon-wrapper {
  text-align: center;
  font-size: 2em;
  top: 510px;
  position: relative;
}

/* Estilos dos ícones das redes sociais */
.icon-wrapper a {
  text-decoration: none;
  color: black;
}

.icon-wrapper a:hover {
  color: white;
  transition: 0.3s ease-out;
}

/* Define a cor dos ícones do YouTube */
[class^="fab fa-youtube"] {
  color: rgb(146, 100, 1);
}

/* Define a cor dos ícones do YouTube ao passar o mouse */
[class^="fab fa-youtube"]:hover {
  color: rgb(0, 0, 0);
}

/* Estilos do logotipo */
.logo {
  font-size: 20px;
  color: black;
  text-decoration: none;
  font-weight: 600;
  position: relative;
  left: 40px;
  top: 20px;
}

.logo:hover {
  color: white;
  transition: 0.4s ease-out;
}

/* Estilos do título */
.title {
  text-align: center;
  font-size: 25px;
  top: 430px;
  position: relative;
}

/* Estilos do seletor de idioma */
.button-select {
  align-items: left;
  text-align: center;
  font-size: 16px;
  top: 30px;
  left: 50px;
  position: relative;
  border: 2px solid black;
  padding: 5px;
  border-radius: 5px;
  background-color: white;
  color: black;
}

.nav-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
}

.language-select {
  top: 18px;
  margin-right: 90px;
  cursor: pointer;
  background-color: black;
  border: 1px black;
  color: white;
  border-radius: 10px;
}

.language-select:hover {
  color: black;
  border: 1px white;
  background-color: white;
}

p {
  text-align: center;
  font-size: 25px;
  top: 420px;
  position: relative;
}

/* Media queries para responsividade */
@media screen and (max-width: 768px) {
  /* Ajustes para telas menores que 768px de largura */
  body {
    font-size: 14px;
  }

  h1 {
    top: 20vh;
    font-size: 20px;
  }

  #convert-input {
    width: 80vw;
  }

  .form-container {
    top: 22vh;
  }

  #convert-button {
    width: 40vw;
  }

  .icon-wrapper {
    top: 410px;
  }

  .title {
    top: 380px;
    font-size: 20px;
  }

  p {
    top: 370px;
    font-size: 20px;
  }
}

@media screen and (max-width: 480px) {
  /* Ajustes para telas menores que 480px de largura */
  body {
    font-size: 12px;
  }

  h1 {
    top: 15vh;
    font-size: 16px;
  }

  #convert-input {
    width: 90vw;
  }

  .form-container {
    top: 17vh;
  }

  #convert-button {
    width: 50vw;
  }

  .icon-wrapper {
    top: 330px;
  }

  .title {
    top: 300px;
    font-size: 16px;
  }

  p {
    top: 290px;
    font-size: 16px;
  }
}
