@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400;500;600;700;800;900&display=swap');

*{
  padding: 0;
  margin: 0;
}

body{
  color: black;
  overflow: hidden;
  font-family: "Poppins", sans-serif;
  background: rgb(196,160,95);
  background: -moz-linear-gradient(90deg, rgba(196,160,95,1) 0%, rgba(235,171,28,1) 35%, rgba(199,163,73,1) 100%);
  background: -webkit-linear-gradient(90deg, rgba(196,160,95,1) 0%, rgba(235,171,28,1) 35%, rgba(199,163,73,1) 100%);
  background: linear-gradient(90deg, rgba(196,160,95,1) 0%, rgba(235,171,28,1) 35%, rgba(199,163,73,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#c4a05f",endColorstr="#c7a349",GradientType=1);
}

h1{
    top: 36vh;
    position: relative;
    text-align: center;
    color: rgb(0, 0, 0);
}

#convert-input{
    text-decoration: none;
    outline: none;
    padding: 5px;
    border-radius: 10px;
    border: 1px solid white; 
    color: black;
    background-color: white;
    width: 60vh;
    font-size: 16px;
    font-weight: 600;
    text-align: center;
}

.form-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    top: 37vh;
    gap: 10px; /* Espaçamento entre o input e o botão */
}

#convert-button{
    outline: none;
    padding: 5px;
    border-radius: 10px;
    border: 1px solid rgb(0, 0, 0);
    color: rgb(255, 255, 255);
    background-color: rgb(0, 0, 0);
    cursor: pointer;
    height: 4vh;
    font-size: 18px;
    width: 20vh; /* Ou qualquer outra largura desejada */
    /* As propriedades position, justify-content, e text-align foram removidas porque não são necessárias com as novas regras de flexbox. */
}

#convert-button:hover{
    color: rgb(0, 0, 0);
    background-color: rgb(255, 255, 255);
    border: 1px solid rgb(255, 255, 255);
}

.header{
    color: inherit; 
    text-align: center;
    align-items: center;
  }

a:hover{
  color: white;
}

a{
  color: rgb(0, 0, 0);
  text-decoration: none;
  position: relative;
  text-align: center;
  align-items: center;
}

.icon-wrapper {
    text-align: center;
    font-size: 2em;
    top: 510px;
    position: relative;
}

[class^="fab fa-youtube"] {
    color: rgb(146, 100, 1);
  }
  
  [class^="fab fa-youtube"]:hover {
    color: rgb(0, 0, 0);
  }

  .logo{
    font-size: 20px;
    color: black;
    text-decoration: none;
    font-weight: 600;
    position: relative;
    left: 40px;
    top: 20px;
  }
  
  .logo:hover{
    color: white;
  }
  
.title{
    text-align: center;
    font-size: 25px;
    top: 430px;
    position: relative;
}
