/* Estilos gerais */

/* Importa a fonte Orbitron do Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Abel&display=swap');

/* Define estilos padrão para todos os elementos */
* {
  padding: 0;
  margin: 0;
}

/* Define o estilo do corpo da página */
body {
  color: var(--bodytxtcolor);
  overflow: hidden;
  font-family: "Abel", sans-serif;
  font-weight: 400;
  font-style: normal;
  /* Define um gradiente de fundo para o corpo da página */
  background: var(--goldbg);
  background: var(--bglinear);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#c4a05f", endColorstr="#c7a349", GradientType=1);
}

/* Configuração de cores // Color config */
:root {
  /* Variáveis para o modo padrão */
  --bodytxtcolor: #000000;
  --goldbg: #c4a05f;
  --bglinear: linear-gradient(90deg, rgba(196, 160, 95, 1) 0%, rgba(235, 171, 28, 1) 35%, rgba(199, 163, 73, 1) 100%);
  --cabeçalhocolor: #000000;
  --cnvtinpt: #d3d3d3;
  --cnvtiptbox: #808080;
  --cnvtipntcolor: #000000;
  --cnvtinpbg: #ffffff;
  --cnvtbt: #000000;
  --cnvtbtcolor: #ffffff;
  --cnvtbtnbg: #000000;
  --cnvtbthvcolor: #000000;
  --cnvtbtbghv: #ffffff;
  --cnvtbthv: #ffffff;
  --iconcolor: #000000;
  --iconcolorhv: #ffffff;
  --fabyt: #926401;
  --fabythover: #000000;
  --logo: #000000;
  --logohv: #ffffff;
  --btnslc: #000000;
  --btnslcbg: #ffffff;
  --btnslccolor: #000000;
  --lngslcbg: #000000;
  --lngslcborder: #000000;
  --lngslccolor: #ffffff;
  --lngslchoverclr: #000000;
  --lngslcborder: #ffffff; 
  --lngslcclr: #ffffff;
}

:root.modo-branco {
  /* Substituições para o modo branco */
  --bodytxtcolor: #000000;
  --goldbg: rgb(235,235,235);
  --bglinear: linear-gradient(90deg, rgba(235,235,235,1) 0%, rgba(255,255,255,1) 35%, rgba(244,244,244,1) 100%);
  --cabeçalhocolor: #000000;
  --cnvtinpt: #d3d3d3;
  --cnvtiptbox: #808080;
  --cnvtipntcolor: #000000;
  --cnvtinpbg: #ffffff;
  --cnvtbt: rgb(221, 221, 221);
  --cnvtbtcolor: #000000;
  --cnvtbtnbg: lightgray;
  --cnvtbthvcolor: #000000;
  --cnvtbtbghv: rgb(231, 231, 231);
  --cnvtbthv: #ffffff;
  --iconcolor: #000000;
  --iconcolorhv: rgb(100, 100, 100);
  --fabyt: #8F8F8F;
  --fabythover: #8F8F8F;
  --logo: #000000;
  --logohv: rgb(100, 100, 100);
  --btnslc: black;
  --btnslcbg: black;
  --btnslccolor: white;
}


/* Estilos do cabeçalho */
h1 {
  top: 36vh;
  position: relative;
  text-align: center;
  color: var(--cabeçalhocolor);
}

/* Estilos do formulário de conversão */
#convert-input {
  text-decoration: none;
  outline: none;
  padding: 5px;
  border-radius: 10px;
  border: 1px solid var(--cnvtinpt);
  box-shadow: 2px 2px 5px var(--cnvtiptbox);
  color: var(--cnvtipntcolor);
  background-color: var(--cnvtinpbg);
  width: 60vh;
  font-size: 16px;
  font-weight: 600;
  text-align: center;
}

.form-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  top: 37vh;
  gap: 10px;
}

#convert-button {
    transition: 0.3s ease-out;
    outline: none;
    padding: 5px;
    border-radius: 10px;
    border: 1px solid var(--cnvtbt);
    color: var(--cnvtbtcolor);
    background-color: var(--cnvtbtnbg);
    cursor: pointer;
    height: 6vh;
    font-size: 18px;
    width: 23vh;
    text-align: -webkit-center;
}

#convert-button:hover {
  color: var(--cnvtbthvcolor);
  background-color: var(--cnvtbtbghv);
  border: 1px solid var(--cnvtbthv);
}

/* Estilos do ícone do YouTube */
.icon-wrapper {
    text-align: center;
    font-size: 2em;
    top: 80vh;
    position: relative;
}

/* Estilos dos ícones das redes sociais */
.icon-wrapper a {
  text-decoration: none;
  color: var(--iconcolor);
}

.icon-wrapper a:hover {
  color: var(--iconcolorhv);
  transition: 0.3s ease-out;
}

/* Define a cor dos ícones do YouTube */
[class^="fab fa-youtube"] {
  color: var(--fabyt);
}

/* Define a cor dos ícones do YouTube ao passar o mouse */
[class^="fab fa-youtube"]:hover {
  color: var(--fabythover);
}

/* Estilos do logotipo */
.logo {
  font-size: 20px;
  color: var(--logo);
  text-decoration: none;
  font-weight: 600;
  position: relative;
  left: 40px;
  top: 20px;
}

.logo:hover {
  color: var(--logohv);
  transition: 0.4s ease-out;
}

/* Estilos do título */
.title {
  text-align: center;
  font-size: 25px;
  top: 430px;
  position: relative;
}

/* Estilos do seletor de idioma */
.button-select {
  align-items: left;
  text-align: center;
  font-size: 16px;
  top: 30px;
  left: 50px;
  position: relative;
  border: 2px solid var(--btnslc);
  padding: 5px;
  border-radius: 5px;
  background-color: var(--btnslcbg);
  color: var(--btnslccolor);
}

.nav-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
}

.language-select {
  top: 18px;
  margin-right: 90px;
  cursor: pointer;
  background-color: var(--lngslcbg);
  border: 1px var(--lngslcborder);
  color: var(--lngslcclr);
  border-radius: 10px;
}


p {
  text-align: center;
  font-size: 25px;
  top: 420px;
  position: relative;
}

/* botão que muda a cor do site // button charge color site*/

#toggleTheme {
  position: fixed;
  bottom: 0;
  margin: 10px;
  left: 40px;
  bottom: 20px;
  transition: 0.3s ease-out;
  outline: none;
  padding: 5px;
  border-radius: 15px;
  cursor: pointer;
  height: 4vh;
  background-color: black;
}

/* Media queries para responsividade */
@media screen and (max-width: 768px) {
  /* Ajustes para telas menores que 768px de largura */
  body {
    font-size: 14px;
  }

  h1 {
    top: 20vh;
    font-size: 20px;
  }

  #convert-input {
    width: 80vw;
  }

  .form-container {
    top: 22vh;
  }

  #convert-button {
    width: 40vw;
  }

  .icon-wrapper {
    top: 410px;
  }

  .title {
    top: 380px;
    font-size: 20px;
  }

  p {
    top: 370px;
    font-size: 20px;
  }

 body {
    font-size: 12px;
  }

  h1 {
    top: 15vh;
    font-size: 16px;
  }

  #convert-input {
    width: 90vw;
  }

  .form-container {
    top: 17vh;
  }

  #convert-button {
    width: 50vw;
  }

  .icon-wrapper {
    top: 330px;
  }

  .title {
    top: 300px;
    font-size: 16px;
  }

  p {
    top: 290px;
    font-size: 16px;
  }
  #toggleTheme {
    position: fixed;
    bottom: 0;
    margin: 10px;
    left: 40px;
    bottom: 20px;
    transition: 0.3s ease-out;
    outline: none;
    padding: 5px;
    border-radius: 15px;
    cursor: pointer;
    height: 4vh;
    background-color: black;
    align-items: center;
    left: 45%;
  }
  .language-select {
    width: 120px;
  }
}

@media screen and (max-width: 480px) {
  /* Ajustes para telas menores que 480px de largura */
  body {
    font-size: 12px;
  }

  h1 {
    top: 15vh;
    font-size: 16px;
  }

  #convert-input {
    width: 90vw;
  }

  .form-container {
    top: 17vh;
  }

  #convert-button {
    width: 50vw;
  }

  .icon-wrapper {
    top: 330px;
  }

  .title {
    top: 300px;
    font-size: 16px;
  }

  p {
    top: 290px;
    font-size: 16px;
  }
  #toggleTheme {
    position: fixed;
    bottom: 0;
    margin: 10px;
    left: 40px;
    bottom: 20px;
    transition: 0.3s ease-out;
    outline: none;
    padding: 5px;
    border-radius: 15px;
    cursor: pointer;
    height: 4vh;
    background-color: black;
    align-items: center;
    left: 40%;
  }
  .language-select {
    width: 120px;
  }

}
